body{
    background: #fff;
    padding: 0px;
    margin: 0px;
    width: 100%;
}
#buy_now{
    width: 100px;
    cursor: pointer;
    margin: 2px;
    float: right;
}
#back{
    width: 100px;
    cursor: pointer;
    margin: 2px;
    float: right;
}
#credit_text_container{
    width:300px;
    float: right;
    position: relative;
}
#credit, #credit_text_container{
    cursor: pointer;
    margin: 2px; 
}
#credit{
    z-index:1;
}
#credit_text{
    position: absolute;
    z-index: 2000;
    top: 20px;
    left: 15px;
    color: white;
    font-size:10px;
}
#header{
    float: left;
    height: 45px;
    width: 100%;
}