#main_lobby, body, #body{
    float: left;
    width: 100%;
    height: auto;
    background: lightblue url("../../common/images/background.png") no-repeat fixed center;
    min-height: 700px;
}
#body > setRequestHeader {
  background:inherit;
}
#header{
  background: inherit;
}
#first_icon{
    float: left;
    background-color:  yellow;
    width: 250px;
    height: 300px;
}
#second_icon{
    float: left;
    background-color:  red;
    width: 250px;
    height: 300px;
    color: white;
}
#head_image{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.blur{
  
}
